.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* <========Navbar========> */
.logoDiv{
  padding: 1.5rem;
  margin-left: 3rem;

}
.iconsDiv{
  margin-right: 2rem;
  margin-top: 1rem;
  padding: 1.5rem;
  width: 12rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.navMain{
  background-color: gainsboro;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px rgb(204, 203, 203);
}
.headingDiv{
  color: blue;
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 12rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.submitTaskBtn{
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  background-color: blue;
  border-radius: 8px;
  border: none;
  margin-top: 2.1rem;
  margin-right: 12rem;
  margin-bottom: 3rem;
}
.heading-submit-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tagbarMainDiv{
  background-color: rgb(204, 203, 203);
  width: 69.5rem;
  margin-left: 12rem;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.cardHeadingIcon{
  width: 32rem;
  background-color: black;
  color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  display: grid;
  grid-template-columns: 93% 7%;
}
.cardHeading{
  text-align: center;
}
.descriptionDiv{
  padding: 1.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.cardContentDiv{
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 1.2rem;
}
.cardSecondPart{
  width: 32.5rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 0.1px solid gainsboro;
  height: 600px;
}
.cardMainDiv{
  margin-bottom: 2rem;
}
.allCardDiv{
  width: 70rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 15rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.notepadHeading{
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.notepadInput{
  padding: 0.8rem;
  width: 28.5rem;
  border: none;
  background-color: aliceblue;
  border-radius: 5px;
}
.cardHeadingBoard{
  margin-left: 1rem;
}
.cardHeadingIconBoard{
  width: 22rem;
  background-color: black;
  color: white;
  border-top-right-radius: 16px;
  padding: 0.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  display: grid;
  grid-template-columns: 93% 7%;
}
.cardSecondPartBoard{
  width: 22.5rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 0.1px solid gainsboro;
  height: 600px;
  background-color: white;
}
.cardMainDivToolbar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;

}
.cardHeadingIconToolbar{
  width: 3rem;
  height: 10px;
  background-color: black;
  color: white;
  border-top-right-radius: 16px;
  padding: 0.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  display: grid;
  grid-template-columns: 93% 7%;
}
.cardSecondPartToolbar{
  width: 3.5rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 0.1px solid gainsboro;
  height: 600px;
  background-color: white;
}
.toolbarBtn{
  margin-left: 0.6rem;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: 0.1px solid blue;
  background-color: white;
  color: blue;
  font-weight: 600;
}
.cardMainDivBoard{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.4s;
}
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.cardMainDivBoard--open{
  transform: translateX(0%); 
}
.backdrop--open{
  display: block;
}